body {
  margin: 0;
}
.layout {
  display: flex;
  height: auto;
}

.chart {
  width: 100%;
  height: 750px;
}

.controls {
  width: 30%;                         /* 控制宽度 */
  display: flex;
  flex-direction: column;
  padding: 20px;                       /* 内边距可根据内容调整 */
  background: #b3d5dc;                 /* 背景色 */
  border-radius: 10px;                 /* 圆角边框 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加轻微阴影以增加层次感 */
  margin: 10px;                        /* 外边距，使其与页面边缘有间距 */
  font-family: 'Helvetica Neue', Arial, sans-serif; /* 使用常见优雅字体 */
  color: #333;                         /* 字体颜色，以确保对比度合适 */
}


.right-panel {
  flex: 7;
  background-color: #ffffff;
  border-left: 1px solid rgb(196, 192, 192); /* 添加黑色边框 */
  overflow-y: auto; /* 当内容超出时显示滚动条 */
  background-image: radial-gradient(circle, rgb(212, 212, 212) 1px, transparent 0),
                    radial-gradient(circle, rgb(212, 212, 212) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-origin: border-box; /* 默认值是 padding-box，这里设置成 border-box */
}


.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 180px;
  max-height: 300px; /* 设置容器的最大高度为1000px */
  overflow-y: auto; /* 当内容超出最大高度时，显示垂直滚动条 */
}

.path-box {
  width: 470px; /* 固定宽度 */
  background-color: #f8f8f8; /* 最淡的浅灰色 */
  padding: 10px;
  border-radius: 10px; /* 圆角 */
  border: 1px solid transparent; /* 初始无边框 */
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  overflow-wrap: break-word; /* 在单词内部适当位置换行 */
  white-space: normal; /* 允许换行 */
  margin: 5px 0;
}

.path-box.selected {
  background-color: white;
  border-color: blue; /* 选中时四周一圈变为蓝色 */
}

.path-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* 路径 */
}

.path-number {
  background-color: #a9a9a9; /* 较深灰色 */
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.path-layer {
  margin-right: auto;
  margin-left: 0; /* 移除左侧的空隙 */
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
}

.circle.checked {
  background-color: blue;
}

.circle.checked::after {
  content: '✔';
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.path-content {
  margin-top: 10px;
}

.relation {
  display: flex;
  flex-wrap: wrap; /* 允许换行 */
  align-items: center;
  margin-bottom: 5px;
  line-height: 2.5; /* 根据需要调整行间距 */
}

.company-wrapper {
  display: flex;
  align-items: center;
}

.arrow-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow {
  display: flex;
  align-items: center;
  margin: 0 10px; /* 自适应箭头长度 */
  position: relative;
}

.relation-attribute {
  position: absolute;
  bottom: 5px; /* 文字与line的距离 */
  left: 50%; /* 居中 */
  transform: translateX(-50%);
  white-space: nowrap;
  color: orange; /* 橘黄色 */
}

.relation-attribute.reverse {
  left: auto;
  right: 0;
  transform: translateX(0);
}

svg {
  flex-shrink: 0; /* 确保箭头不会被压缩 */
  height: 20px;
}







.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 保持“关系筛选”和按钮之间的距离 */
}
.header h3 {
  margin: 0; /* 移除默认外边距 */
}
.relationship-filters-container {
  display: flex;
  flex-direction: column; /* 上下排列 */
  align-items: center; /* 居中对齐 */
  position: relative; /* 相对定位用于控制按钮 */
}
.relationship-filters {
  width: 470px; /* 设置关系筛选部分的宽度 */
  margin-bottom: 20px; /* 间距调整 */
}
.relationship-filter-table {
  display: table; /* 表格布局 */
  width: 100%;
  table-layout: fixed; /* 固定表格布局 */
}
.relationship-filter-row {
  display: table-row; /* 表格行 */
  margin-bottom: 15px; /* 调整行与行之间的垂直间距 */
}
.relationship-filter-cell {
  display: table-cell; /* 表格单元格 */
  padding: 10px; /* 调整单元格内边距 */
  vertical-align: middle; /* 垂直居中对齐 */
}
.relationship-level {
  text-align: left; /* 左对齐文本 */
  margin-top: 20px; /* 间距调整 */
  width: 470px; /* 确保与关系筛选部分对齐 */
}
.level-label {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: flex-start; /* 水平左对齐 */
  width: 100%;
  margin-left: 20px;
  margin-bottom: 10px; /* 间距调整 */
}
.level-label span {
  margin: 0 10px; /* 左右间距调整 */
}
.checkbox-label {
  display: flex;
  align-items: center; /* 垂直居中复选框 */
  white-space: nowrap; /* 防止文本换行 */
  margin-left: 20px
}
.checkbox-label input[type="checkbox"] {
  margin-right: 5px; /* 调整复选框和文字之间的间距 */
}
input[type="range"] {
  width: 150px; /* 固定宽度 */
  margin: 0 10px; /* 左右间距调整 */
}
.toggle-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px; /* 按钮字体大小 */
  margin-left: auto; /* 将按钮推到右侧 */
}





.box {
  background: white;
  height: 160px;
  border-color: #60cfe6;
  border-radius: 10px;
}

.search {
  position: relative;
  font-family: Arial, sans-serif;
  margin-left: 10px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.search input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-right: 30px; /* Space for the delete icon */
}

.delete-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eeeeee;
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li:hover {
  background-color: #f7f7f7;
}



.download-btn {
  /* 下载按钮样式 */
  background-color:white; 
  color:none; /* 白色文本 */
  border: none; /* 无边框 */
  border-radius: 4px; /* 圆角边框 */
  cursor: pointer; /* 鼠标悬停时指针样式 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
  transition: background-color 0.3s, box-shadow 0.3s; /* 过渡效果 */
  margin-top: 10px;
  margin-right: 10px;

}

.download-btn:hover {
  background-color: #72b1d5; /* 鼠标悬停时背景颜色加深 */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 鼠标悬停时阴影效果增强 */
}

.download-btn:focus {
  outline: none; /* 去除聚焦时的外边框 */
}

.download-btn:active {
  background-color: #397d3a; /* 点击时背景颜色加深 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 点击时恢复正常的阴影效果 */
}
.button-icon {
  height: 20px; /* 设置图片的高度 */
  width: auto;  /* 设置图片的宽度保持比例 */
}


.right-panel.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  border: none; /* 去除边框 */
}